* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background-color: #EAEAEA;
	font: 12px Arial, Tahoma, sans-serif;
}
a {
	text-decoration: none;
}
h3 {
	color: #333;
	margin-bottom: 5px;
	float: left;
}
.b3radius{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
}
#page_align {
	width: 1000px;
	margin: 35px auto;
	background: url("../images/bg.png") #FFF;
	box-shadow: 0px 1px 3px #DDDDDD;
	-webkit-box-shadow: 0px 1px 3px #DDDDDD;
	-o-box-shadow: 0px 1px 3px #DDDDDD;
	-moz-box-shadow: 0px 1px 3px #DDDDDD;
	overflow: hidden;
}
#header {
	height: 95px;
	border-bottom: solid 3px #9CB071;
	background: #FFF;
}
#header_logo {
	border-bottom: solid 1px #F1F1F1;
	padding-top: 5px;
	padding-left: 18px;
	background: url("../images/nav_bg.png");
}
.logo_description {
	color: #786D5F;
}
#header_nav ul {
	list-style: none;
}
#header_nav ul li {
	float: left;
	border-right: solid 1px #F1F1F1;
}
#header_nav ul li:last-child {
	border-right: none;
}
#header_nav ul li a {
	color: #2B1B17;
	display: block;
	padding: 0 7px;
	line-height: 47px;
}
#header_nav ul li a:hover {
	background: #99C68E;
}
input[name=search] {
	float: right;
	margin-top: 15px;
	height: 20px;
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.1);
	background: #F0F0F0;
	padding: 0 5px;
}	
.search_img {
	float: right;
	margin-top: 6px;
}
#sidebar {
	width: 150px;
	float: left;
}
.sb_header {
	background: #8BB381;
	line-height: 30px;
	color: #FFF;
	padding-left: 6px;
	font-size: 15;
}
.sb_header img {
	display: block;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
	height: 16px;
	width: 16px;
}
.sb_menu ul {
	list-style: none;
}
.sb_menu ul li {
	padding-left: 28px;
	line-height: 30px;
	border-bottom: solid 1px #8BB381;
}
.sb_menu ul li a {
	color: #3D3C3A;
	display: block;
}
.sb_menu ul li a:hover {
	color: #FFF;
}
.photo_week img {
	width: 140px;
	height: 200px;
	margin-bottom: 3px;
	border-radius: 3px;
}
.top_b  a {
	position: absolute;
	bottom: 0;
}
#content {
	width: 847px;
	float: right;
}
#c_left {
	width: 300px;
	float: left;
	overflow: hidden;
	margin-left: 8px;
}
#c_right {
	float: right;
	overflow: hidden;
	margin-top: 7px;
	margin-right: 3px;
	margin-left: 15px;
	width: 520px;
}
.c_button {
	background: #E5E4E2;
	padding: 6px;
	margin-top: 7px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 288px;
	text-align: center;
	margin-bottom: 10px;
}
.c_button a {
	color: #000;
	display: block;
}
.c_news {
	border-bottom: solid 1px #f1f1f1;
	color: #878787;
	margin-top: 5px;
}
.c_news p {
	padding-bottom: 8px;
}
.c_news_header span {
	color: #b2b2b2;
	float: right;
}
.articles {
	border-bottom: 3px solid #95B9C7;
	float: right;
	width: 520px;
	margin-bottom: 5px;
}
.article_info ul li {
		float: left;
		padding: 0px 5px;
		color: #7CB3AC;
		font-size: 11px;
		margin-bottom: 2px;
}
.article_info ul li:first-child {
	padding-left: 0px;
}
.a_img {
	float: left;
	width: 15px;
	height: 15px;
	padding-right: 2px;
}
.article_info span {
	color: #b2b2b2;
	float: right;
}
.h3_r {
	border-bottom: 1px solid #f1f1f1;
	float: none;
	padding-bottom: 2px;
	margin-top: 1px;
}
.image_secure {
	width: 520px;
	overflow: hidden;
	margin: 5px 0px;
}
.articles p {
	color: #878787;
	font-size: 11px;
	margin-bottom: 8px;
}
.clr {
	clear: both;
}